# Env
.env
.env.local
*.local

# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/
.eggs/

# Node
node_modules/
.next/
out/
.npm

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Docker
.docker/

# Build / dist
dist/
build/
